@use "../assets//styles/colorVariables.scss" as *;

.sideBar {
    background-color: $base-white;
    border-right: 1px solid $secondary-100;
    height: 100vh;
    width: max-content;
    padding: 0 32px;
    padding-top: 130px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
}