@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #FFFAFA;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.type24 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.type16 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.type14 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.type12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}