$base-white: #FFFFFF;
$base-black: #000000;
$base-gray: #D0D5DD;

$secondary-500: #141522;
$secondary-400: #54577A;
$secondary-300: #8E92BC;

$primary-purple: #5577FF;
$primary-purple-hover: #3B5FD1;
$error-red: #EE201C;
$error-red-hover: #C71A16;

$green: rgba(26,147,46, 1);
$green-bg: rgba(26,147,46, 0.18);
$yellow: rgba(223,165,16, 1);
$yellow-bg: rgba(223,165,16, 0.18);
$orange: rgba(230,95,43, 1);
$orange-bg: rgba(230,95,43, 0.18);
$red: rgba(238,32,28, 1);
$red-bg: rgba(238,32,28, 0.18);