$base-white: #FFFFFF;
$base-black: #000000;

$secondary-500: #141522;
$secondary-400: #54577A;
$secondary-300: #8E92BC;

$primary-purple: #5577FF;
$primary-purple-hover: #3B5FD1;
$error-red: #EE201C;
$error-red-hover: #C71A16;